# Stellar Configuration
STELLAR_NETWORK=testnet
STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
STELLAR_REGISTRY_CONTRACT_ID=
STELLAR_DISPENSARY_REGISTRY_CONTRACT_ID=
STELLAR_PRESCRIPTION_CONTRACT_ID=
STELLAR_DISPENSE_RECORD_CONTRACT_ID=
STELLAR_DOCTOR_ADDRESS=
STELLAR_DOCTOR_SECRET=
STELLAR_DISPENSARY_ADDRESS=
STELLAR_DISPENSARY_SECRET=
STELLAR_RELAYER_URL=
STELLAR_RELAYER_API_KEY=
STELLAR_MERCURY_URL=
STELLAR_MERCURY_PROJECT_NAME=
STELLAR_MERCURY_JWT=
STELLAR_MERCURY_KEY=

# Public Vite client configuration for Passkeys on Testnet
VITE_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
VITE_STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_STELLAR_WALLET_WASM_HASH=

# Future DB / Auth Secrets (e.g. Firebase)
# FIREBASE_PROJECT_ID=
# STELLAR_ISSUE_SECRET=
