node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
.vercel
soroban/targetR*/
soroban/targetX*/
soroban/target_*/
soroban/target/**
!soroban/target/wasm32v1-none/
!soroban/target/wasm32v1-none/release/
!soroban/target/wasm32v1-none/release/*.wasm
